doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="estilos.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com",crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,700;1,300&family=Josefin+Slab:wght@300;500;700&display=swap",rel="stylesheet")
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,700;1,300&family=Josefin+Slab:wght@300;500;700&display=swap" rel="stylesheet">
    script(src="https://kit.fontawesome.com/4f2808354d.js" crossorigin="anonymous")
    title AyB

  body 
    header 
      .background_template
        img(src="./fotos/p5.jpg", alt="alt")
        .filtro 
      .nombres
        h1 ARTURO &  ANAIS
        .titulo
          h2 Te invitamos a nuestra boda 
          p SANTIAGO / CHILE
    main 
      .main_titulo 
      
        h1 NUESTRA HISTORIA
        p Han pasado 10 años y ha sido un tiempo lleno de aventuras, sacrificios, recompensas, muchas risas y  también lágrimas, conociendo  amigos, haciendo nueva familia que nos han llenado el camino y que hemos debido despedir también.<br>Aprendimos lo importante de los momentos, del estar, esperar, ser leal, respetar y amar sin condición ni mayor interes que el bien estar mutuo. <br>Por eso decidimos presentar ante Dios y ustedes este juramento que ansía seguir creciendo, por que el Amor nunca debe deja Ser.
        h2 Nuestra primera cancion
        a(href="https://www.youtube.com/watch?v=IiJ987Gc9vY", target="_blank") Haciendome el loco 
          |<i class="fa-solid fa-play"></i>

      .background_template2
        img(src="./fotos/p3.jpeg", alt="alt")
        .filtro2 
        .wedding_date
          p Te invitamos el
          h1 10/12/2022
      
      .padrinos_titulo
        h1 Nos acompañan como Padrinos
        #padrinos_nombres_box
          ul 
            li Samuel Navarro
            li Carla Laginia 
          ul 
            li Jody Moreno 
            li Isabel leon
          ul 
            li Luis Paz
            li Shemonick Zambrano

          ul 
            li.li 
              h1 Dama de honor <br>
                p.lip Betsabe Castro
      section.padrinos
        .padrinos_box
          img(src="./fotos/padrinos/pp1.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp4.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp10.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp11.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp5.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp6.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp7.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/padrinos/pp9.jpg",width="350", height="350" alt="alt")




      .wedding_dd_container 
        .p0
          h1 DETALLES DE LA BODA 
          P Se requiere vestimenta formal 
          
        .p1
          h3 Misa  
           img.church(src="./church-solid.svg", alt="icono iglesia" width="30px") 

          P 5:00p-6:00p <br> Sta. Isabel 1127. <br> Santiago, Región Metropolitana 
          a.d1(href="https://www.google.cl/maps/place/Iglesia+de+los+Sacramentinos/@-33.4513447,-70.6492371,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c50c746c5aa9:0x8f7d1621ee335284!8m2!3d-33.4513165!4d-70.6490149", target="_blank") Toca aqui para ir al mapa   
            img(src="./left.svg", alt="icono iglesia" width="15px") 
        .p2
          h3 Pachanga 
             img(src="./party.svg", alt="icono iglesia" width="25px") 
          P 6:30p-03:00a <br> chacabuco 389<br> Maipu  <br> Santiago, Región Metropolitana 
          a.d2(href="https://www.google.cl/maps/place/Chacabuco+389,+Maip%C3%BA,+Regi%C3%B3n+Metropolitana/@-33.5091117,-70.7625525,3a,75y,38.97h,75.14t/data=!3m6!1e1!3m4!1stKWlzmSahqvHXr0z7i9uUg!2e0!7i13312!8i6656!4m5!3m4!1s0x9662dcd50e215627:0xe684db138a70d550!8m2!3d-33.5088983!4d-70.7625226", target="_blank") Toca aqui para ir al mapa   
            img(src="./left.svg", alt="icono iglesia" width="15px") 
          
      article.galeria
        .galeria_container 
          img.sd(src="./fotos/17.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/16.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/19.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/18.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/2.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/3.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/13.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/15.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/5.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/8.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/12.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/10.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/11.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/14.jpg",width="350", height="350" alt="alt")

      article 
        .donaciones 
          h1 La vaquita para la luna de miel   
            img#cow(src="./cow.svg", alt="icono iglesia" width="45px")  
          p Click en el enlace  
            img#cow(src="./arrow.svg", alt="icono iglesia" width="20px")  
          button 
            a(href="http://milistadenovios.cl/enviar-regalo?id=5595",target="_blank") Boton de regalo
          
          <br><br><br><br>
          h2 Tambien puedes escanear aqui 
            img#cow(src="./arrow.svg", alt="icono iglesia" width="20px")  
          img(src="./fotos/dona.png",width="200", height="200" alt="alt")

    footer
      h1 Creado y Diseñado por 
      h2 Arturo Battistini
