doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="estilos.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,700;1,300&family=Josefin+Slab:wght@300;500;700&display=swap" rel="stylesheet">
    title Document

  body 
    header 
      .background_template
        img(src="./fotos/p5.jpg", alt="alt")
        .filtro 
      .nombres
        h1 ARTURO &  ANAIS
        .titulo
          h2 Nos casamos pronto ;) 
          p DICIEMBRE 12, 2022 / SANTIAGO / CHILE
    main 
      .main_titulo 
        h1 NUESTRA HISTORIA
        h2 LOVE AT FIRST SONG
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique distinctio quasi, porro tempore iusto repellat eligendi adipisci quia harum cupiditate corrupti cum tenetur illo odit molestiae voluptatem quam, commodi magnam?
      .background_template2
        img(src="./fotos/p3.jpeg", alt="alt")
        .filtro2 
        .wedding_date
          p Reservado para 
          h1 10/12/2022
      .wedding_dd_container 
        .p0
          h1 DETALLES DE LA BODA 
          P Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.z Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .p1
          h3 the "I DO'S"
          P 3:00p-4:00p <br> Pier 11 at FletcherBeach <br> Montauk, Ny
        .p2
          h3 THE AFTERPARTY
          P 5:00p-11:00p <br> The Armony <br> 866 Soudview Dr. <br> East Hampton, Ny
      .accom_container 
        .accom_tittle
          h1 ACCOMODATIONS
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <br>
          h2    SMITH HOTEL EAST HAMPTON
          p  62 Cross Highway<br>East Hampton, NY <br>(631) 555 - 0123
          button BOOK ONLINE
        
      article.galeria
        .galeria_container 
          img(src="./fotos/1.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/2.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/3.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/13.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/5.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/6.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/7.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/8.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/12.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/10.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/11.jpg",width="350", height="350" alt="alt")
          img(src="./fotos/9.jpg",width="350", height="350" alt="alt")
      article 
        .donaciones 
          h1 Puedes Regalarnos un Shot!    
          p solo las click en el enlace :)
          button 
            a(href="http://milistadenovios.cl/enviar-regalo?id=5595") Boton de regalo
          
          <br><br><br><br>
          h2 Tambien puedes escanear aqui:
          img(src="./fotos/dona.png",width="250", height="250" alt="alt")

    footer
      h1 Creado y Diseñado por 
      h2 Arturo Battistini
